<!DOCTYPE html>
<html lang="ja">

<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# website: http://ogp.me/ns/website#">
  <meta charset="UTF-8">
  <title>Compassギフトサイト</title>
  <meta content="compass" name="description">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="description" content="このたび、名入れギフトの専門店「Giftshop Compass（ギフトショップ コンパス）」は、公式オンラインストアをグランドオープンいたしました。
“想いを形に”をコンセプトに、受け取った瞬間に心に残る、上質で洗練された贈り物をご提案いたします。">
  <meta name="keywords" content="ギフト,酒,タンブラー,ワイン,グラス">
  <meta property="og:url" content="">
  <meta property="og:type" content="website">
  <meta property="og:title" content="">
  <meta property="og:description" content="">
  <meta property="og:site_name" content="">
  <meta property="og:image" content="/images/icon/apple-touch-icon.png">
  <meta name="twitter:card" content="summary">
  <meta name="format-detection" content="telephone=no">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="canonical" href="https://ec.compass-linq.com">
  <link rel="apple-touch-icon" sizes="180x180" href="/images/icon/apple-touch-icon.png">
  <link rel="shortcut icon" href="/images/favicon.ico">
  <link rel="icon" type="image/png" href="/images/icon/android-touch-icon.png" sizes="192x192">
  <link rel="stylesheet" href="https://unpkg.com/ress@4.0.0/dist/ress.min.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/flickity@2.3.0/dist/flickity.css">
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/button.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Modaal/0.4.4/css/modaal.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://unpkg.com/flickity@2.3.0/dist/flickity.pkgd.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Modaal/0.4.4/js/modaal.min.js"></script>
  <script>
    $(function () {
      getGlobalMode("<%= mode %>");
      getGlobalRoot("<%= root %>");
      $("img.lazyload").lazyload();
      $(".searchbutton").modaal({
        content_source: '#inline'
      });
    });
  </script>
  <script src="/js/index.js"></script>
</head>

<body>
  <main>
    <%- include('./partials/header.ejs') %>
      <div class="gallery js-flickity"
        data-flickity-options='{ "lazyLoad": true, "wrapAround": true, "autoPlay": 5000, "contain": true }'>
        <div class="gallery-cell">
          <img class="forpc header-image" src="/images/banner/father/topimage.jpg"
            data-flickity-lazyload="/images/banner/father/topimage.jpg" alt="">
          <img class="forsp header-image" src="/images/banner/father/topimage_sp.jpg"
            data-flickity-lazyload="/images/banner/father/topimage_sp.jpg" alt="">
        </div>
        <div class="gallery-cell">
          <img class="forpc header-image" src="/images/banner/mother/header.jpg"
            data-flickity-lazyload="/images/banner/mother/header.jpg" alt="">
          <img class="forsp header-image" src="/images/banner/mother/header_sp.jpg"
            data-flickity-lazyload="/images/banner/mother/header_sp.jpg" alt="">
        </div>
        <div class="gallery-cell">
          <img class="forpc header-image" src="/images/banner/original/topimage.jpg"
            data-flickity-lazyload="/images/banner/original/topimage.jpg" alt="">
          <img class="forsp header-image" src="/images/banner/original/topimage_sp.jpg"
            data-flickity-lazyload="/images/banner/original/topimage_sp.jpg" alt="">
        </div>
      </div>
      <div class="img-txt">想いを形にする、世界に一つだけの名入れギフト。</div>
      <div class="wrap main-recommend-wrapper">
        <h3 class="headline-standard libre-baskerville">
          RECOMMENDATION
          <span class="headline-small noto-sans">&thinsp;おすすめ商品</span>
        </h3>
        <div class="product-row-wrapper">
          <div id="recommendarea" class="product-row-parent">
            <% if (recommend.length> 0) { %>
              <% recommend.forEach(function(rec) { %>
                <div class="product-row-child">
                  <ul class="product-flex">
                    <li class="list-image">
                      <div class="favbutton">
                        <i class="hearton heartbutton fa-solid fa-heart display-none" value="">
                          <span>
                            <%= rec.id %>
                          </span>
                        </i>
                        <i class="heartoff heartbutton fa-regular fa-heart" value="">
                          <span>
                            <%= rec.id %>
                          </span>
                        </i>
                      </div>
                      <a href="/product/<%= rec.id %>">
                        <img class="recommend1 lazyload" data-src="<%= rec.imagepath %>" alt="<%= rec.productname %>"
                          onerror="this.onerror = null; this.src='';">
                      </a>
                    </li>
                    <li class="list-category">
                      <%= rec.categoryname %>
                    </li>
                    <li class="list-title">
                      <%= rec.productname %>
                    </li>
                    <li class="list-content">
                      <p>
                        <%= rec.description %>
                      </p>
                    </li>
                  </ul>
                </div>
                <% }) %>
                  <% } %>
          </div>
        </div>
      </div>
      <div class="wrap main-new-wrapper">
        <h3 class="headline-standard libre-baskerville">
          NEW
          <span class="noto-sans headline-small">&thinsp;新商品</span>
        </h3>
        <div class="product-row-wrapper">
          <div id="latestdata" class="product-row-parent">
            <% if (latest.length> 0) { %>
              <% latest.forEach(function(lt) { %>
                <div class="product-row-child">
                  <ul class="product-flex">
                    <li class="list-image">
                      <div class="favbutton">
                        <i class="hearton heartbutton fa-solid fa-heart display-none" value="">
                          <span>
                            <%= lt.id %>
                          </span>
                        </i>
                        <i class="heartoff heartbutton fa-regular fa-heart" value="">
                          <span>
                            <%= lt.id %>
                          </span>
                        </i>
                      </div>
                      <a href="/product/<%= lt.id %>">
                        <img class="recommend1 lazyload" data-src="<%= lt.imagepath %>" alt="<%= lt.productname %>"
                          onerror="this.onerror = null; this.src='';">
                      </a>
                    </li>
                    <li class="list-category">
                      <%= lt.categoryname %>
                    </li>
                    <li class="list-title">
                      <%= lt.productname %>
                    </li>
                    <li class="list-content">
                      <p>
                        <%= lt.description %>
                      </p>
                    </li>
                  </ul>
                </div>
                <% }) %>
                  <% } %>
          </div>
        </div>
      </div>
      <div class="main-ranking-wrapper">
        <h3 class="headline-standard libre-baskerville">
          RANKING
          <span class="noto-sans headline-small">&thinsp;ランキング</span>
        </h3>
        <div class="ranking-row-wrapper">
          <ul id="rankingarea" class="ranking-row-parent">
            <% if (ranking.length> 0) { %>
              <% ranking.forEach(function(rk) { %>
                <li class="ranking-row-child">
                  <a href="/product/<%= rk.id %>">
                    <img class="recommend1 lazyload" data-src="<%= rk.imagepath %>" alt="<%= rk.productname %>"
                      onerror="this.onerror = null; this.src='';">
                  </a>
                </li>
                <% }) %>
                  <% } %>
          </ul>
        </div>
      </div>
      <div class="main-news-wrapper">
        <div class="main-article-wrapper">
          <h3 class="news-standard libre-baskerville">
            NEWS
            <span class="noto-sans headline-small">&thinsp;新着記事</span>
          </h3>
          <div class="main-article-content">
            <% if (news.length> 0) { %>
              <% news.forEach(function(nw) { %>
                <ul class="news-flex">
                  <li class="list-image">
                    <img class="new1 lazyload" data-src="/images/news/news<%= nw.id %>.jpg" data-srcset="
              /images/news/news<%= nw.id %>.jpg 1x, 
              /images/news/news<%= nw.id %>@2x.jpg 2x,
              /images/news/news<%= nw.id %>@3x.jpg 3x,
              " class="lazyload" alt="">
                  </li>
                  <li class="list-title">
                    <h4>
                      <%= nw.title %>
                    </h4>
                  </li>
                  <li class="list-content three-trimming">
                    <%= nw.context %>
                  </li>
                  <li class="list-date">
                    <%= nw.date %>
                  </li>
                </ul>
                <% }) %>
                  <% } %>
                    <% if (news.length> 4) { %>
                      <div class="list-seemore">
                        <a href="" class="btn">もっと見る</a>
                      </div>
                      <% } %>
          </div>
        </div>
        <div class="main-sub-wrapper">
          <div class="main-category-wrapper">
            <h3 class="headline-side libre-baskerville">
              CATEGORY<br class="forpc">
              <span class="noto-sans headline-small">&thinsp;カテゴリ</span>
            </h3>
            <ul>
              <% if (allcategories.length> 0) { %>
                <% allcategories.forEach(function(cat) { %>
                  <li>
                    <a href="/category/<%= cat.id %>" class="btn">
                      <%= cat.categoryname %>
                    </a>
                  </li>
                  <% }) %>
                    <% } %>
            </ul>
          </div>
        </div>
      </div>
      <div class="main-appeal-wrapper">
        <img class="appeal lazyload" data-src="/images/banner/appeal1.jpg" data-srcset="
          /images/banner/appeal/appeal1.jpg 1x, 
          /images/news/appeal/appeal1@2x.jpg 2x,
          /images/news/appeal/appeal1@3x.jpg 3x,
          " class="lazyload" alt="">
        <img class="appeal lazyload" data-src="/images/banner/appeal2.jpg" data-srcset="
          /images/banner/appeal/appeal2.jpg 1x, 
          /images/news/appeal/appeal2@2x.jpg 2x,
          /images/news/appeal/appeal2@3x.jpg 3x,
        " class="lazyload" alt="">
      </div>
      <hr>
      <div class="main-introduction-wrapper">
        <% if (allcategories.length> 0) { %>
          <% allcategories.forEach(function(cate, idx) { %>
            <% var direction=idx % 2==0 ? 'right' : 'left' ; %>
              <div class="main-genre-wrapper <%= direction %>">
                <div class="main-genre-img-wrapper">
                  <img class="appeal lazyload" data-src="/images/category/category<%= cate.id %>.jpg" data-srcset="
            /images/category/category<%= cate.id %>.jpg 1x, 
            /images/category/category<%= cate.id %>@2x.jpg 2x,
            /images/category/category<%= cate.id %>@3x.jpg 3x,
          " class="lazyload" alt="">
                </div>
                <div class="main-genre-content-wrapper">
                  <h4 class="">
                    <span class="header">
                      <%= cate.englishname %>
                    </span>
                    <br>
                    <%= cate.categoryname %>
                  </h4>
                  <p>
                    <%= cate.context %>
                  </p>
                  <a href="/category/<%= cate.id %>" class="btn">もっと見る</a>
                </div>
              </div>
              <hr>
              <% }) %>
                <% } %>
      </div>
  </main>
  <%- include('./partials/footer.ejs') %>
</body>

</html>