<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>
    <%= title %>管理画面
  </title>
  <meta name="robots" content="noindex, nofollow">
  <link rel="stylesheet" href="/css/manage/manage.css">
  <link rel="stylesheet" href="/css/manage/categorymanage.css">
  <link rel="stylesheet" href="/css/button.css">
  <script src="/js/manage/catemanage.js"></script>
</head>

<body>
  <header>
    <h2>
      <%= title %>管理画面
    </h2>
    <a href="<%= root %>/manage/">前の画面へ戻る</a>
  </header>
  <main>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>全<input type="checkbox" id="checksAll"></th>
          <th>順番</th>
          <th>カテゴリ名</th>
          <th>英語カテゴリ名</th>
          <th>画像URL</th>
          <th>説明文</th>
        </tr>
      </thead>
      <% if (data.length> 0) { %>
        <form action="/manage/category" id="cateform" method="post">
          <tbody>
            <% for ( let i=0; i < data.length; i++ ) { %>
              <tr>
                <td>
                  <%= data[i].id %>
                </td>
                <td>
                  <input type="checkbox" class="checkbox" name="check[]" value="<%= data[i].id %>" <%=data[i].display==1
                    ? 'checked' : '' %> >
                </td>
                <td>
                  <input type="number" class="narrow" maxlength="2" name="ranking[]" value="<%= data[i].ranking %>">
                </td>
                <td>
                  <%= data[i].categoryname %>
                </td>
                <td>
                  <input type="text" class="standard" name="englishname" value="<%= data[i].englishname %>">
                </td>
                <td>
                  <input type="text" class="standard" name="imageurl" value="<%= data[i].imagepath %>">
                </td>
                <td>
                  <textarea class="textarea" rows="5" cols="50" name="context"
                    value=""><%= data[i].context %></textarea>
                </td>
                <input type="hidden" class="id" name="id" value="<%= data[i].id %>" />
              </tr>
              <% } %>
                <% } %>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="6">
                <button class="button-g button-6 button-wide" type="submit">編集</button>
              </td>
            </tr>
            <tr>
              <td colspan="6">
                <a href="<%= root %>/manage/">前の画面へ戻る</a>
              </td>
            </tr>
          </tfoot>
        </form>
    </table>
  </main>
  <footer>
    <p class="copyright">Copyright 2025 LinQuest, Inc.</p>
  </footer>
</body>

</html>