<footer>
  <div class="footer-area">
    <div class="content-area">
      <a href="/"><img class="appeal" src="/images/logo/LOGO.png"></a>
      <div class="category">
      <% if (allcategories.length > 0) { %>
      <% allcategories.forEach(function(cat) { %>
        <div>
          <a href="/category/<%= cat.id %>">
            <%= cat.categoryname %>
          </a>
        </div>
      <% }) %>
      <% } %>
      </div>
      <div class="content">
        <% if (allproducts.length > 0) { %>
        <% allproducts.forEach(function(pd) { %>
        <span>
          <a href="<%= root %>/product/<%= pd.id %>"><%= pd.productname %></a>&nbsp;/&nbsp;
        </span>
        <% }) %>
        <% } %>
      </div>
    </div>
    <div class="icon-area">
      <div>
        <a href="https://www.instagram.com/compass_linq.shop/"  target="_blank"><img src="/images/logo/instagram.png" alt="instagramロゴ"></a>
      </div>
    </div>
  </div>
  <p class="copyright">Copyright 2025 Compass, Inc.</p>
</footer>
